@page
@model SistemaBI.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart', 'bar'] });
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            drawVentasPorSucursalChart();
            drawVentasPorCategoriaChart();
        }

        function drawVentasPorSucursalChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Sucursal');
            data.addColumn('number', 'Ventas');

            @foreach (var venta in Model.ResumenVentasPorSucursal)
            {
                <text>
                    data.addRow(['@venta.Key', @venta.Value]);
                </text>
            }

            var options = { 'title': 'Ventas por Sucursal', 'width': 800, 'height': 600 };
            var chart = new google.visualization.ColumnChart(document.getElementById('ventasPorSucursal_chart_div'));
            chart.draw(data, options);
        }

        function drawVentasPorCategoriaChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categoria');
            data.addColumn('number', 'Ventas');

            @foreach (var venta in Model.VentasPorCategoria)
            {
                <text>
                    data.addRow(['@venta.Categoria', @venta.Cantidad]);
                </text>
            }

            var options = { 'title': 'Ventas por Categoria', 'width': 800, 'height': 600 };
            var chart = new google.visualization.PieChart(document.getElementById('ventasPorCategoria_chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <div id="ventasPorSucursal_chart_div"></div>
    <div id="ventasPorCategoria_chart_div"></div>
</body>
